<% if @admin.errors.any? %>
  <div id="errors" class="bg-danger">
    <p><%= pluralize(@admin.errors.count, "error") %> prohibited course from being saved:</p>
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= bootstrap_form_tag controller: :admin, action: :change_password do |a|%>
  <%= a.password_field :current_password %>
  <%= a.password_field :new_password %>
  <%= a.password_field :password_confirmation %>
  <%= a.submit %>
<% end %>
