<div>
  Back to <%= link_to(@lesson.course.title, @lesson.course) %><br /><br />
  <%= @lesson.text %>
</div>

<br />
<br />
<h3 class="page-header ">Questions</h3>
<div class="btn-group btn-group-justified">
  <div type="button" class= "btn btn-default"><%= link_to raw("Add <span class='glyphicon glyphicon-plus'></span>"), [:new, @lesson, :question] %></div>
</div>
<br />
<table class="table table-hover">
  <tr>
    <th> Text </th>
    <th width="10%"> Actions</th>
  </tr>
  <% @lesson.questions.each do |q, lesson| %>
    <tr>
      <td> <%= link_to q.text, [q] %></td>
      <td> <%= link_to raw("<span class='glyphicon glyphicon-remove'></span>"), [q], method: :delete, data: { confirm: 'Are you sure?' }  %>
        <%= link_to raw("<span class='glyphicon glyphicon-pencil'></span>"), [:edit, q]  %> </td>
    </tr>
  <% end %>
</table>
